<app-navbar></app-navbar>

<section class="caduser">
     
    <form #f="ngForm" (ngSubmit)="OnSubmit(f)" novalidate>
        <h3>Novo Usuário</h3>
       <div *ngFor= "let obg of error">
        <p>{{obg.msg}}</p>
       </div>

        <div *ngIf="camposvazio">
          <p><strong>{{camposvazio}}</strong></p>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Nome <span>*</span></label><br>
          <input type="text"  name="nome" ngModel required #nome="ngModel">
          
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Sobrenome <span>*</span></label><br>
            <input type="text" class="form-control"  name="sobrenome" ngModel >
            
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email <span>*</span></label><br>
            <input type="email" class="form-control"  name="email" ngModel >
            
          </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password <span>*</span></label><br>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel >
        </div>

        <div class="form-group">
            <label for="exampleInputPassword1">Repet passwod <span>*</span></label><br>
            <input type="password" class="form-control" id="exampleInputPassword1" name="reset" ngModel >
          </div>

        <div class="button">
          <button type="submit">
          <fa-icon [icon]="faUserCircle" id="icon"></fa-icon>Cadastra-se
        </button>

         <button type="reset">
              <fa-icon [icon]="faMinusSquare" id="icon"></fa-icon>Cancelar
        </button>
    
        </div>
      </form>
  </section>