header  nav a{
    margin: 10px;
    color: #fff;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between; 

    height: 50px;
    color: #fff;
    background: rgb(4, 141, 146);
}
.logo {
    margin-left: 10px;
}
.logo h2 {
    font-size: 30px;
}
#icon{   
    margin-right: 10px;
}

@media screen and (max-width:400px){
    header .logo{
        font-size: 15px;
    }

    header .container{
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
    }
}
