
a {
    color: #fff;
    margin: 5px;
   
}

button a:houver{
   text-decoration: nome;
}

button {
    color: #fff;
    font-size: 12px;
    border: none;
    margin: 5px;
}

.login h3 {
    text-align: center;
    margin: 20px 0px 30px 0px;
}


.login{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 100px auto;
    border-radius: 5px;
    color: rgb(53, 50, 50);
    font-size: 12px;

}
.login p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    color: rgb(216, 89, 89);
}

.form-group input{
    border: 1px solid rgb(228, 221, 221);
    color:  rgb(228, 221, 221);
    margin: 10px 0px 10px 0px;
    border-radius: 5px;
    padding: 10px;
    
   
}







