 .tableLista {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

table{
    width: 100%;

    
}
thead{
   
    background-color: rgb(214, 196, 33);
}
tbody{
    background-color:#1f2429;
}
th{
    padding: 20px;
    color: rgb(7, 55, 95);
}
td{
    padding: 10px;
    color: rgb(243, 233, 233);
    font-size: 15px;
}
