<div class="page-home">

    <div class="logo">
        
    </div>

    <div class="menu-home">
        <div class="menu-left">
            <nav>
                <a href="/home">
                    <fa-icon [icon]="faHome" id="icon"></fa-icon>Home
                </a>
            </nav>
        </div>

        <!--menu-rigth-->
        <app-menuhome></app-menuhome>
    </div>

</div>

<div class="flex-container">
    <div class="sidebar">
        <!--sidebar-->
        <app-sidebar></app-sidebar>
    </div>
    <div class="container">
       <!--app-cards-->
       <app-cards></app-cards>

       <!--table list tarefas-->
    <div class="tableLista">
        <table>
            <thead>
                <th>Nome</th>
                <th>Local</th>
                <th>Status</th>
                <th>Valor</th>
                <th>Data</th>
                <th>Actions</th>
            </thead>
            <tbody>
                 <tr *ngFor="let tarefa of listaTarefas">
                     <td>{{tarefa.nome}}</td>
                     <td>{{tarefa.local}}</td>
                     <td>{{tarefa.status}}</td>
                     <td>{{tarefa.valor}}</td>
                     <td>{{tarefa.data | date:'shortDate'}}</td>
                     <td>Ação</td>
                 </tr>
            </tbody>
        </table>

    </div>
    </div>
</div>

<div class="footer">
    footer
</div>