<div id="wrapper"  [ngClass]="ref.click === true? 'toggled' :''" >
  <div class="overlay" [ngStyle]="{disply:ref.click === true? 'block' :'none'}" ></div>
  
 <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <app-sidebar></app-sidebar>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
              
            <button appSidebar  #ref="appSidebar" type="button" class="hamburger is-closed" data-toggle="offcanvas">
              <span class="hamb-top"></span>
              <span class="hamb-middle"></span>
              <span class="hamb-bottom"></span>   
          </button>
          <a></a>

           <app-navbartoogle></app-navbartoogle>

            <div class="collapse navbar-collapse  justify-content-end" id="navbarSupportedContent">
              <app-collapse></app-collapse>
            </div>
            
          </nav>
          
          <div class="container-fluid">
            <h1 class="mt-4">Simple Sidebar</h1>
            <div class="tableLista">
                <table>
                    <thead>
                        <th>Nome</th>
                        <th>Status</th>
                        <th>
                            <a routerLink="/new">
                                <fa-icon [icon]="faPlus"></fa-icon> new
                            </a>
                        </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listaTarefas |  paginate: { itemsPerPage: 5, currentPage: p }">
                            <td>{{item.nome}}</td>
                            <td *ngIf="item.status == 0">Pendente</td>
                            <td *ngIf="item.status == 1">Pago</td>
                            <td>
                                <a routerLink="/edit/{{item.id}}">
                                    <fa-icon [icon]="faEdit"></fa-icon> edit
                                </a>
                                <a>
                                    <fa-icon [icon]="faTrash"></fa-icon> delete
                                </a>
    
                            </td>
    
                        </tr>
                        <tr>
                            <td colspan="3">
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </td>
                        </tr>
    
                    </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
      </div>
    