<div class="page-home">
    <div class="logo">
    </div>
    <div class="menu-home">
        <div class="menu-left">
            <nav>
                <a href="/home">
                    <fa-icon [icon]="faHome" id="icon"></fa-icon>Home
                </a>
            </nav>
        </div>

        <!--menu-rigth-->
        <app-menuhome></app-menuhome>
    </div>
</div>

<div class="flex-container">
    <div class="sidebar">
        <!--sidebar-->
        <app-sidebar></app-sidebar>
    </div>
    <div class="container">

        <!--table list tarefas-->
        <div class="tableLista">
            <table>
                <thead>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>
                        <a routerLink="/new">
                            <fa-icon [icon]="faPlus"></fa-icon> new
                        </a>
                    </th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of listaTarefas |  paginate: { itemsPerPage: 5, currentPage: p }">
                        <td>{{item.nome}}</td>
                        <td *ngIf="item.status == 0">Pendente</td>
                        <td *ngIf="item.status == 1">Pago</td>
                        <td>
                            <a routerLink="/edit/{{item.id}}">
                                <fa-icon [icon]="faEdit"></fa-icon> edit
                            </a>
                            <a>
                                <fa-icon [icon]="faTrash"></fa-icon> delete
                            </a>

                        </td>

                    </tr>
                    <tr>
                        <td colspan="3">
                            <pagination-controls (pageChange)="p = $event"></pagination-controls>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
       
    </div>