


:root{
    --bg-header : rgb(50, 51, 46)
}
* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:100;

}

/*home*/
.page-home {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}
.page-home .logo {
    background:#343a40;
    border-bottom: 1px solid #F5F5F5;
    width: 20%;
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#fff;
    height: 80px;
    width: 80%;
}

/*menu-left*/
.menu-left nav {
    margin-left: 10px;
}
.menu-home nav a {
    margin-left: 10px;
}

/*container*/
.flex-container{
    display: flex;
    justify-content: space-between;
    
}
.sidebar{
    width: 20%;
    background:#343a40;
    color: #fff;
}
.container{
    width: 80%;
    height: 100vh;
    background: #F5F5F5;
}

/*footer*/

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px rgb(223, 225, 226);
    height: 50px;
    
}


/*qunado for max-width:640px o height deve ser automatico*/

@media(max-width:640px){
    .container{
        height:auto;
        
    }
}












 